services:
    php:
        image: app
        restart: unless-stopped
        environment:
            DEFAULT_URI: https://${SERVER_NAME:-localhost}:80
            SERVER_NAME: localhost:80
        volumes:
            - caddy_data:/data
            - caddy_config:/config
        ports:
            - name: http
              target: 80
              published: 80
              protocol: tcp

###> symfony/mercure-bundle ###
###< symfony/mercure-bundle ###
volumes:
    caddy_data:
    caddy_config:
###> symfony/mercure-bundle ###
###< symfony/mercure-bundle ###
